header{
    height:200vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}
/*****************CTA**********************/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;  
    justify-content: center;

}
/***************** HEADER SOCIALS  **********************/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left: 0;
    bottom: 16rem;
    
}
.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/***************** IMAGE  **********************/
.me{
    background: linear-gradient(var(--color-primary),transparent) ;
    width: 21rem;
    height: 32rem;
    position: absolute;
    left:calc(50% - 21*0.5rem);
    margin-top: 4rem;
    border-radius: 22rem 22rem 15rem 15rem;
    overflow: hidden;
    padding: 0rem 3rem 2rem 1rem;
    
}
/***************** SCROLL  **********************/

.scroll_down{
    position: absolute;
    right:-2.3rem;
    bottom: 16rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

}

@media screen and (max-width:1024px) {
    header{
        height: 150vh;
        
    }
    .header_socials{
        bottom: 0.9rem;
    }
    .scroll_down{
        bottom: 2rem;
    }
    
}

/******************SMALL DEVICES****************/
@media screen and (max-width:600px) {
    header{
        height:200vh;
    }
    .header_socials, .scroll_down{
        display: none;
    }
   
}